// Logo Symbols
//
// Our logo should only ever be on a white background.
//
// .logo--grayscale  - &nbsp;
//
// Markup: logo.twig
//
// Style guide: Atoms.1

a.logo {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: resolve('logo.svg');
  background-size: contain;

  &--grayscale {
    filter: grayscale(100%);
  }
}
